/* Instructions 

*/

/* 	Exercise 1 */
#one-a,
#one-b,
#one-c{
	float: left;
}
/* 	Exercise 2 */


/* 	Exercise 3 */


/* 	Exercise 4*/


/* 	Exercise 5 */


/* 	Exercise 6 */


/* 	Exercise 7 
		Hint: Parent has collapsed.  


*/


/* 	Excercise 8
		Hint: Parent has collapsed. 	
 */


/* 	Exercise 9 */


/* 	Exercise 10 */


